.distancia {
    position: absolute;
    bottom: 15%;
    left: 57%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5865f2;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border-style: dashed;
    border-color: white;
    border-width: thick;
    font-size: 3rem;
    font-weight: bold;
    overflow-wrap: anywhere;
    text-align: center;
    line-height: 100%;
}
